@model PetArranger.Models.ClassifiedPetsModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="row">
	<div class="col-sm-12">
		@if (Model.OrderedPetNamesForMales.Count > 0)
		{
			<p></p>
			<span ><strong>Male</strong></span>
			<ol>
				@foreach (var name in Model.OrderedPetNamesForMales)
				{
					<li>@name</li>
				}
			</ol>
		}
		else
		{
			<p>No Cats for Gentlemen</p>
		}
		@if (Model.OrderedPetNamesForFemales.Count > 0)
		{
			<p></p>
			<span><strong>Female</strong></span>
			<ol>
				@foreach (var name in Model.OrderedPetNamesForFemales)
				{
					<li>@name</li>
				}
			</ol>
		}
		else
		{
			<p>No Cats for Ladies</p>
		}
	</div>
</div>
